/* Styling for invalid fields that have been focused/changed */
input:valid:focus,
input:valid {
    border: 1px solid #000000; /* Default border color */
}

input:invalid:focus {
    border-color: #FF0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

/* Basic Input Styling */
input {
    padding: 8px;
    margin-top: 5px;
    width: 250px;
    box-sizing: border-box;
}
